<launch>
  <!-- Iniciar o nó hw_interface e o de i2c / UART-->
  <node name="hw_interface" pkg="robot_control" type="hw_interface" output="screen" />
  <!--node name="i2c_master" pkg="robot_control" type="i2c_master.py" output="screen" / -->
  <node name = "uart_comm" pkg="robot_control" type="uart_comm.py" output="screen"/>

</launch>
